body
  background rgba(248, 235, 180, 1)
  
.app
  display flex
  flex-direction column
  align-items center
  width 100%
  background rgba(248, 235, 180, 1)

.account.card
  margin 0.3rem 0
  padding 0.3rem
  border 0.05rem rgba(143, 191, 167, 1) solid
