.controls

  &.button
    cursor pointer
    margin 0.2rem
    border 0
    background rgba(215, 119, 7, 1)
    box-shadow rgba(88, 67, 50, 1) 0.05rem 0.1rem 0.2rem

    &:hover
      background rgba(223, 167, 48, 1)
