html,
body
  font-family "Aktiv Grotesk", "Arial", sans-serif

body,
html,
div,
article,
nav,
footer,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span
  margin 0
  border 0
  padding 0
  box-sizing border-box
  font-size 100%

div,
article,
nav,
footer,
aside
  display flex
